.AccountOverview {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.page-title {
  font-size: 1.6rem;
}

@media (max-width: 1200px) {
.page-title {
  font-size: 1.2rem;
}
}